$section-top-margin: 5rem;
$section-heading-margin-bottom: 4rem;
$section-padding: 5rem;
$section-top-padding: 5rem;

// COLORS
$color-grey-dark: #333;
$color-grey-medium: #777;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;

$color-primary-dark: #2C4694;
$color-primary-medium: #5A7CE0;
$color-primary-light: #809FFF;

$color-secondary-dark: #94731E;
$color-secondary-light: #E0BB5A;