@import "assets/scss/_variables";
@import "assets/scss/_mixins";

.location {
  padding: 0 $section-padding;
  color: $color-grey-dark;

  &__body {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
  }

  &__heading {
    @include section-heading;
  }

  &__content {
    p {
      margin-bottom: 2rem;
    }
  }

  &__map {
    display: flex;
    justify-content: right;
  }

  &__map-iframe {
    border: 1px solid $color-grey-dark;
  }

  &__label {
    font-size: 1.4rem;
    color: $color-secondary-dark;
  }
}
