@import 'assets/scss/_variables';
@import "assets/scss/_mixins";

.hero {
    &__name {
        @include page-heading;
    }

    &__image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}
