@import 'assets/scss/_variables';
@import 'assets/scss/_mixins';

.shrine {
    margin: $section-top-margin 5rem 0 5rem;
    background-color: #def9ff;

    &__heading {
        @include section-heading;
    }

    &__body {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-gap: 4%;
    }

    &__image {
        // TODO: Align image vertically middle or stretch.
        img {
            width: 100%;
        }
    }
    
    &__content {
        display: flex;
        align-items: center;
    }
}